  @charset "utf-8";

  .rich-text {
    padding-bottom: 0.1rem;
    word-wrap: break-word;
    background-color: #fff;
    p {
      padding-bottom: 0.3rem;
      margin: 0 0.3rem;
      font-weight: 300;
      line-height: 0.48rem;
      font-size: 16px;
      color: #222;
    }
    h2, h3, h4, h5, h6 {
      margin: 0 0.3rem;
      font-weight: 400 !important;
    }
    h2 {
      font-size: 17px;
      line-height: 0.51rem;
      padding-bottom: 0.13rem;
      color: rgb(68, 68, 68);
    }
    h5 {
      font-size: 18px;
      line-height: 0.51rem;
      padding-bottom: 0.13rem;
      color: rgb(68, 68, 68);
    }
    h3 {
      font-size: 17px;
      line-height: 0.51rem;
      padding:0.22rem 0 0.13rem 0;
      color: rgb(68, 68, 68);
    }
    h6 {
      font-size: 18px;
      line-height: 0.51rem;
      padding:0.22rem 0 0.13rem 0;
      color: rgb(68, 68, 68);
    }
    h4 {
      font-size: 13px;
      padding: -0.1rem 0 0.08rem 0;
      line-height: 0.38rem;
      color:#999;
    }
    a {
      font-size: 16px;
    }
    .customvideo {
      padding-bottom: .3rem;
    }
    .ql-bg-main {
      background-color: #222;
    }
    .ql-bg-assiant {
      background-color: #777;
    }
    .ql-bg-img {
      background-color: #999;
    }
    .ql-bg-hight {
      background-color: #0848D1;
    }
    .ql-bg-link {
      background-color: #0072DD;
    }
    .ql-bg-white {
      background-color: #fff;
    }
    .ql-color-main {
      color: #222;
    }
    .ql-color-assiant {
      color: #777;
    }
    .ql-color-img {
      color: #999;
    }
    .ql-color-hight {
      color: #0848D1;
    }
    .ql-color-link {
      color: #0072DD;
    }
    .ql-color-white {
      color: #fff;
    }
    img {
      margin: 0 -0.3rem;
      width: calc(100% + 0.6rem);
      width: -moz-calc(100% + 0.6rem);
      width: -webkit-calc(100% + 0.6rem);
    }
    .ql-align-center {
      text-align: center;
    }
    .ql-align-right {
      text-align: right;
    }
  }
