.pro-list{
  background-color: #ffffff;
  .search{
    z-index: 1000;
    // width: 100%;
    position: fixed;
    top: 0;
    // left: 0;
    padding: 0.14rem 0.3rem;
    background-color: #fff;
    border-bottom: 0.01rem solid $borderColor;
    .input-box{
      width: 6.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .input {
      display: flex;
      align-items: center;
      width: 6rem;
      height: 0.6rem;
      padding-left: 0.2rem;
      border-radius: 0.3rem;
      background-color: #f1f2f3;
      i {
        margin-right: 0.1rem;
        font-size: 0.3rem;
        color: #999;
      }
      input {
        width: 5.3rem;
        // height: 0.6rem;
        // padding: 0.1rem 0;
        padding: 0.08rem 0;
        font-size:0.3rem;
        line-height: 0.3rem;
        box-sizing: border-box;
        outline: none;
        border: none;
        background-color:#f1f2f3;
        &::-webkit-input-placeholder {
          font-size: 0.28rem;
          font-weight: 300;
          line-height: 0.4rem;
          color: #888;
        }
        &:-moz-placeholder{
          font-size: 0.28rem;
          font-weight: 300;
          line-height: 0.4rem;
          color: #888;
        }
        &::-moz-placeholder{
          font-size: 0.28rem;
          font-weight: 300;
          line-height: 0.4rem;
          color: #888;
        }
        &:-ms-input-placeholder{
          font-size: 0.28rem;
          font-weight: 300;
          line-height: 0.4rem;
          color: #888;
        }
      }
    }
  }
  .tab-box{
    width: 7.5rem;
    z-index: 999;
    // padding: 0 0.3rem 0 0.3rem;
    margin-top: 0.88rem;
    position: fixed;
    top: 0;
    // left: 0;
    // width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .bread-box{
      width: 1.06rem;
    }
    .bread{
      text-align: center;
      width: 0.92rem;
      border-left: 0.02rem solid $borderColor;
      margin-top: 0.1rem;
      margin-left: 0.12rem;
      span{
        font-size: 0.46rem;
        color: #222;
      }
    }
  }
  .tab2-box{
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.3rem;
    position: fixed;
    top: 0;
    width: 6.9rem;
    margin-top: 1.72rem;
    background-color: #fff;
    border-top: 0.01rem solid #e8e8e8;
    border-bottom: 0.01rem solid #e8e8e8;
    color: #777;
    .icon-checkout-view{
      width: 1.2rem;
      height: 0.56rem;
      background: #F6F6F6;
      border-radius: 0.28rem;
      text-align: center;
      span{
        line-height: 0.56rem;
      }
    }
    .tab-cate{
      width: 1.7rem;
      height: 0.56rem;
      background: #F6F6F6;
      border-radius: 0.28rem;
      font-size: 0.26rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 0.24rem;
        height: 0.24rem;
      }
      span{
        line-height: 0.4rem;
      }
      .iconfont{
        font-size: 0.12rem;
      }
      &:first-of-type{
        border-right: 1px solid #E8E8E8;
      }
    }
    .hight{
      color: #0072DD;
    }
    .hight2{
      background: #EDF3FF;
      border-radius: 0.28rem;
      border:1px solid #0072DD;
      box-sizing: border-box;
    }
  }
  .screen{
    box-sizing: border-box;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 7.5rem;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.3);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {display:none}
  }
  .shop_tab{
    // margin: auto;
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 6.14rem;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {display:none}
    .s-tab{
      padding: 0.22rem 0 0.1rem 0;
      margin-right: 0.4rem;
      font-size: 0.34rem;
      color: #777777;
      font-weight: 300;
      white-space: nowrap;
      &:last-of-type{
        margin-right: 0;
      }
      .con{
        margin-bottom: 0.03rem;
      }
    }
    .active{
      text-align: center;
      color: #0072DD;
      .botline{
        display: block;
        width: calc(100% - 0.08rem);
        padding: 0.02rem 0;
        background-color: #0072DD;
        border-radius: 30px;
        margin: auto;
      }
    }
  }
  .clear{
    clear: both;
  }
  .cate_now{
    padding-top: 2.11rem;
  }
  ul{
    margin-top: 2.7rem;
    width: 6.9rem;
    height: 100%;
    padding: 0.29rem 0.3rem 0rem 0.3rem;
    li{
      width: 3.3rem;
      background-color: #ffffff;
      float: left;
      margin: 0 0.3rem 0.2rem 0;
      &:nth-child(2n){
        margin-right: 0;
      }
      img {
        width: 3.3rem;
        border-radius: 4px;
      }
      .desc{
        padding: 0.26rem 0rem 0 0;
        width: 2.9rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .bigtitle{
          font-size: 0.26rem;
          // line-height: 0.26rem;
          font-weight: 300;
          color: $themeColor;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .lanehub{
          border-radius: 2px;
          // background-color: $linkBlue;
          // color: #ffffff;
          padding: 0 0.08rem;
          font-size: 0.26rem;
          line-height: 0.26rem;
        }
        .desc-title{
          font-size: 0.28rem;
          line-height: 0.48rem;
          // margin-top: 0.1rem;
          margin-bottom: 0.04rem;
          font-weight: normal;
          color: $themeColor;

          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .value{
          margin-bottom: 0.12rem;
        }
        span{
          font-size: 0.3rem;
          font-weight: 300;
          font-weight: 300;
          line-height: 0.3rem;
        }
        p{
          &.gray{
            i{
              color: $subColor;
            }
            span{
              color: $subColor;
            }
          }
          line-height: 0.3rem;
          span{
            color: $mallRed;
            line-height: 0.3rem;
            font-size: 0.3rem;
            font-weight: 400;
          }
          i{
            font-size: 0.24rem;
            line-height: 0.24rem;
            font-style: normal;
            color: $mallRed;
            font-weight: 400;
          }
        }
        .min-title{
          position: relative;
          line-height: 0.24rem;
          margin-bottom: 0.12rem;
          color: #4974a2;
          &.grayfine{
            span{
              color: $subColor;
            }
          }
          span{
            font-size: 0.24rem;
            font-weight: 300;
            line-height: 0.24rem;
            padding-left: 0.1rem;
            padding-right: 0.1rem;
            &:first-of-type{
              padding-left: 0;
            }
            &:before{
              content: "|";
              position: absolute;
              margin-left: -0.13rem;
            }
            &:first-of-type:before{
              content: "";
            }
          }
        }

      }
    }
  }
}
